<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora de Amor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    
    <h1 class="romantic-title">Calculadora de Amor</h1>

    <form action="/result" method="post">
    
        <label for="nombre1">Nombre de la primera persona:</label>
        <input type="text" id="nombre1" name="nombre1" required><br>

        <label for="nombre2">Nombre de la segunda persona:</label>
        <input type="text" id="nombre2" name="nombre2" required><br>

        <input type="submit" value="Calcular Amor">
    </form>
</body>
</html>
